* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;
    width: 100%;
    padding-bottom: 3rem;
    position: relative;
}

nav {
    font-family: serif;
}

a {
    color: rgb(120, 120, 120);
    text-decoration: none;
    font-size: 1.75rem;
}

ul {
    list-style: none;
}

.site-header {
    width: 100%;
    min-height: 25.5rem;
}

main {
    padding: 0 1.5rem ;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

main h1 {
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;    
}

address, time {
    display: inline;
}

p {
    padding-top: 1rem;
    line-height: 1.5rem;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    padding: .75rem;
}
